{% extends 'base.html.twig' %}

{% block title %}Admission Ecole{% endblock %}

{% block body %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Vous désirez finir vos études en France?</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baselin²e">
                <a class="btn btn-primary btn-xl" href="{{path('app_assertion_new')}}">Postulez maintenant !</a>
            </div>
        </div>
    </div>
</header>
<section class="page-section bg-admission" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0 ml-1">Les plus de nos services</h2>
                <hr class="divider divider-light" />
                <ul class="text-white" style="list-style-type: none; padding-inline-start: 0px;">
                    <li>Admission Ecole vous accompagne pour :</li>
                    <li>Trouver votre école en France sans aucun frais de service</li>
                    <li>Vous aider durant toutes vos démarches (Campus France, entretien)</li>
                    <li>Construire votre dossier visa</li>
                    <li>Et tout ça gratuitement !</li>
                </ul>
                <a class="btn btn-primary btn-xl mt-4" href="{{path('app_assertion_new')}}">Postulez maintenant !</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}