{% extends 'base.html.twig' %}

{% block title %}Admission Ecole{% endblock %}

{% block body %}
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Vous désirez finir vos études en France?</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baselin²e">
                <a class="btn btn-primary btn-xl" href="{{path('app_assertion_new')}}">Postulez maintenant !</a>
            </div>
        </div>
    </div>
</header>
<section class="page-section bg-secondary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Admission Ecole</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Admission Ecole vous accompagne pour trouver votre école en France sans
                    aucun frais de service. Une fois inscrit, nous vous aidons durant toutes vos démarches (Campus
                    France, Visa, entretien…) et tout ça gratuitement ! vous payez seulement les frais demandé par
                    l’école que vous aurez choisi.</p>
                <a class="btn btn-light btn-xl" href="{{path('app_assertion_new')}}">Postulez maintenant !</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}