{% block body %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Ecole</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 20px;
            margin-top: 50px;
        }

        p {
            font-size: 1.2em;
            line-height: 1.5;
        }

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>En cours de construction !</h1>
        <p>Notre site web est en cours de développement et sera bientôt disponible.</p>
        <p>Restez à l'écoute pour des mises à jour !</p>
    </div>
</body>
</html>
{% endblock %}