<!DOCTYPE html>
<html>
    <body>
        <h1>{{ subject }}</h1>
        <p>
            Bonjour,<br>
            Vous avez une nouvelle postulation : <a href="{{website_url}}/admin/assertion/show/{{assertion.id}}">Assertion ID#{{assertion.id}}</a>
        </p>
    </body>
</html>